$color-btn: #2a2d32;
$color-btn-sm: rgb(22, 51, 255);

$color-w-text: #fff;
$bg-w: #fff;
$bg-gray: #e5e5e5;
$bg-box-gray: #e3e6ec;
$bshadow: 0 0 12px rgba(0, 0, 0, 0.2);
$input-focus-line: rgb(29, 155, 209);

//Shadows

$color-btn-sm-sh: rgba(22, 51, 255, 0.3);

//Hovers
$color-btn-hv: #1d1f22;
$color-btn-sm-hv: rgb(30, 50, 196);
